@import "compass/reset";
@import "compass/css3";
@import "update";

body {
    background: #efefef;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    overflow: hidden;
}

a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
}
