/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_teams.scss */
.hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 7, ../sass/_teams.scss */
#logo {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
  z-index: 99;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
/* line 18, ../sass/_teams.scss */
#logo:hover {
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

/* line 24, ../sass/_teams.scss */
#teams {
  height: auto;
  width: 100%;
  float: left;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 30, ../sass/_teams.scss */
#teams li {
  z-index: 10;
  position: relative;
  display: block;
  width: 50%;
  float: left;
  text-align: center;
  overflow: hidden;
  -moz-transition: size 1s ease-in-out;
  -o-transition: size 1s ease-in-out;
  -webkit-transition: size 1s ease-in-out;
  transition: size 1s ease-in-out;
}
/* line 39, ../sass/_teams.scss */
#teams li .js-show-team {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
/* line 46, ../sass/_teams.scss */
#teams li h1 {
  margin-top: 140px;
  text-transform: uppercase;
  font-size: 2.3rem;
}
/* line 51, ../sass/_teams.scss */
#teams li span {
  font-size: 2rem;
}
/* line 54, ../sass/_teams.scss */
#teams li .rank {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  pointer-events: none;
  font-size: 18em;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 67, ../sass/_teams.scss */
#teams li .fullview {
  display: none;
}
/* line 70, ../sass/_teams.scss */
#teams li.rank1 {
  background: #F05252;
}
/* line 72, ../sass/_teams.scss */
#teams li.rank1:hover {
  color: #F05252;
  background: #fff;
}
/* line 77, ../sass/_teams.scss */
#teams li.rank2 {
  background: #756F71;
}
/* line 79, ../sass/_teams.scss */
#teams li.rank2:hover {
  color: #756F71;
  background: #fff;
}
/* line 84, ../sass/_teams.scss */
#teams li.rank3 {
  background: #413D42;
}
/* line 86, ../sass/_teams.scss */
#teams li.rank3:hover {
  color: #413D42;
  background: #fff;
}
/* line 91, ../sass/_teams.scss */
#teams li.rank4 {
  background: #DBCDB8;
}
/* line 93, ../sass/_teams.scss */
#teams li.rank4:hover {
  color: #DBCDB8;
  background: #fff;
}
/* line 98, ../sass/_teams.scss */
#teams li.selected {
  z-index: 3000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 105, ../sass/_teams.scss */
#teams li.selected .js-show-team {
  width: 0;
  height: 0;
}
/* line 109, ../sass/_teams.scss */
#teams li.selected .js-hide-team {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
/* line 114, ../sass/_teams.scss */
#teams li.selected .js-hide-team img {
  top: 10px;
  position: relative;
}
/* line 118, ../sass/_teams.scss */
#teams li.selected .js-hide-team:hover {
  color: #bfbfbf;
}
/* line 122, ../sass/_teams.scss */
#teams li.selected h1 {
  margin-top: 270px;
}
/* line 125, ../sass/_teams.scss */
#teams li.selected span {
  position: relative;
  top: -100px;
}
/* line 129, ../sass/_teams.scss */
#teams li.selected .about {
  color: #888;
  padding: 0 10%;
  width: 80%;
  max-height: 150px;
  overflow: scroll;
  background: #efefef;
}
/* line 137, ../sass/_teams.scss */
#teams li.selected .members {
  display: block;
  margin-top: 10px;
}
/* line 140, ../sass/_teams.scss */
#teams li.selected .members label {
  font-size: 1.3em;
}
/* line 144, ../sass/_teams.scss */
#teams li.selected .fullview {
  display: block;
}

/* line 5, ../sass/main.scss */
body {
  background: #efefef;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  overflow: hidden;
}

/* line 12, ../sass/main.scss */
a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #fff;
}
