script(type='text/javascript').
  $(window).resize(function(){
    var height = ($(window).height()/2);
    $('#teams li').each(function(index){
        var team = $(this);
        if (team.hasClass('selected')) {
            height = $(window).height()
        }
        team.css({height:height});
    });
  });
script(type='text/template', id='teamTemplate').
  <div class="fullview js-hide-team"><img src="images/back.png">Show all teams</div>
  <div class="js-show-team"></div>
  <h1><%= name %></h1>
  <div class="fullview about"><%= description %></div>
  <span><%= points %> pts</span>
  <div class="rank"><%= rank %></div>
  <div class="fullview members">
  <label>Team Members:</label>
  <ul>
      <% for(var member in members) { %>  
          <li><%= members[member] %></li> 
      <% } %>
  </ul>
  <iframe src="<%= videoUrl %>"></iframe>
  </div>
script(type='text/template', id='updateTemplate').
  <h1>Update Points</h1>
  <form id="addPoints">
  <div><input id="team" placeholder="Team Name"></div>
  <div><input id="points" placeholder="Points to Add:"></div>
  <div><input type='submit' id="submitButton" value='Update'></div>